<div class='row'>
  <section id='play' class='span9'>
    <canvas id='terminal' width='640' height='375'>
      You need to use a browser that supports HTML5.
    </canvas>
  </section>

  <section id='sidebar' class='span3'>
  </section>

</div>

<script type="text/x-handlebars" id="beards_templates_sidebar">
  
  {{#if Beards.description}}
    <h4>{{Beards.description}}</h4>
  {{/if}}

  <h3>(<span class='number'>{{Beards.ego.x}}</span>, <span class='number'>{{Beards.ego.y}}</span>)</h3>

  <p>
    {{#if Beards.standingOn}}
      {{Beards.standingOn}}
    {{else}}
      &nbsp;
    {{/if}}
  </p>

  {{#if inventory.itemCount}}
    <h4>Inventory</h4>
    <ul>
      {{#each inventory.itemsGrouped}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}

</script>